@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Indie+Flower&family=Quicksand&display=swap');
.form {
    text-align: center;
    border: solid 3px #9C0000;
    background: #f1f1f1;
    border-radius: 10px;
}

.title {
    border: solid 3px grey;
    margin: 2rem 5rem;
    background: white;
    border-radius: 7.5px;
}

.asa {
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
    font-weight: bold;
    text-transform: none;
}

p{
    font-family: 'Architects Daughter', cursive;
}

label, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
}

.redText {
    color: #9C0000
}

footer {
    height: 100%;
    padding: 0;
}

footer p {
    font-family: 'Quicksand', sans-serif;
}

.hoverable {
    transition: .3s;
}

.hoverable:hover {
    transition: .3s;
    opacity: 0.8;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2) !important
}

@media(max-width: 650px) {
    .App {
      margin: 0;
    }
    .title {
      margin: 0;
      border: none;
      background: transparent;
      margin-bottom: 2rem;
    }
    .asa {
        font-size: 48px;
    }
  }