@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Indie+Flower&family=Quicksand&display=swap');
.form {
    text-align: center;
    border: solid 3px #9C0000;
    background: #f1f1f1;
    border-radius: 10px;
    padding-bottom: 2rem;
}

.title {
    border: solid 3px grey;
    margin: 2rem 5rem;
    background: white;
    border-radius: 7.5px;
}

.asa {
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
    font-weight: bold;
}

p, h6 {
    font-family: 'Architects Daughter', cursive;
}

label, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
}


footer {
    height: 100%;
    padding: 0;
}

footer p {
    font-family: 'Quicksand', sans-serif;
}

@media(max-width: 650px) {
    .App {
      margin: 0;
    }
    .title {
      margin: 0;
      border: none;
      background: transparent;
      margin-bottom: 2rem;
    }
    .asa {
        font-size: 48px;
    }
  }