/* Misc. Styling */

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #9C0000;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

#constitution {
    font-size: 16px;
    font-weight: bold;
}

a, a:hover, a:focus, a:active, a.active {
    outline: none;
}

a {
    color: #9C0000;
}

a:hover, a:focus, a:active, a.active {
    color: #910000;
}

.branded {
    color: #9C0000;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-circle {
    border-radius: 50%;
}

.onMobile {
    display: none;
}

.onDesktop {
    visibility: visible;
}

@media (max-width: 768px) {
    .onMobile {
        display: block;
    }
    .onDesktop {
        visibility: hidden;
    }
}

/* Highlight Color */

::-moz-selection {
    text-shadow: none;
    background: #9C0000;
    color: white;
}

::selection {
    text-shadow: none;
    background: #9C0000;
    color: white;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/* Sections */

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    margin: 50px 10px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

/* Buttons */

.btn-xl {
    color: white;
    background-color: #9C0000;
    border-color: #9C0000;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #910000;
    border-color: #910000;
}

/* Navigation Styling*/

#mainNav {
    padding-top: .1rem;
    padding-bottom: .1rem;
    background-color: #eee;
}

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #9C0000;
    border: 0;
}

#mainNav .navbar-brand {
    color: #9C0000;
    font-weight: 500;
    letter-spacing: 0.0625em;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 2em;
}

#mainNav .navbar-brand img {
    height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #9C0000;
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #9C0000;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #eee;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg, #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
    #mainNav .active {
        background: white;
        border-radius: 3px;
        color: #9C0000;
        padding: .5rem .5rem
    }
}

/* Header style */

header {
    margin-top: 2rem;
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgb(255, 255, 255, .3) 100%), url("../img/fence.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
    background: rgba(255, 255, 255, .3);
    text-align: center;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header {
        margin-top: 0;
    }
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 250px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 40px;
        color: #000000;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 65px;
        color: #000000;
    }
}

/* Timeline Style*/

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #9C0000;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* Contact Section */

section#contact {
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 149px;
}

section#contact .form-control:focus {
    border-color: #9C0000;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact .text-danger {
    color: #e74c3c;
}

/* Icon Footer */

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #9C0000;
}

/****** ADVOCACY PAGE ******/

#advo-header {
    text-align: center;
    padding: 100px 0px 0px;
}

#event-w {
    padding: 75px 0px 0px;
}

@media (min-width: 768px) {
    #advo-header {
        padding: 150px 0px 0px;

    }

    #event-w {
        padding: 100px 0px 0px;
    }

}

#advo-header h1 {
    font-size: 4em;
}

#event-w h2 {
    margin-left: 0.5%;
}

.event {
    background-color: #222222;
    color: white;
    border-radius: 5%;
    padding: 10px 10px;
    text-align: center;
}


.event-left {
    margin-left: 2%;
    margin-right: 6%;
}

.event-right {
    margin-left: 6%;
    margin-right: 2%;
}


.event h4 {
    color: #9c0000;
    text-transform: none;
}

.event .presenter {
    font-size: 1.2em;
}

.event .preview {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.event .preview .preview-text {
    text-align: left;
    width: 48%;
    float: left;
}

.event .preview .preview-img {
    margin: 0 auto;
    width: 48%;
    float: right;
}

.event .preview .preview-img img {
    width: 100%;
    height: 100%;
}

.links {
    margin-left: 3%;
    margin-right: 3%;
}

.links .btn {
    border: none;
    background-color: #9c0000;
}

/****** WORKSHOP PAGES ******/
#banner {
    padding: 100px 0px 0px;
}

#recap {
    padding: 75px 0px 0px;
}

#resources {
    padding: 75px 0px 0px;
}

@media (min-width: 768px) {
    #banner {
        padding: 150px 0px 0px;

    }

    #recap {
        padding: 100px 0px 0px;
    }

    #resources {
        padding: 75px 0px 0px;
    }
}

#banner h1 {
    font-size: 3em;
}

#banner h6 {
    text-transform: none;
}

#banner .date {
    font-weight: normal;
}

#banner .presenter {
    width: 20%;
    overflow: hidden;
}

#banner .presenter .presenter-left {
    width: 35%;
    float: left;
}

#banner .presenter .presenter-img {
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

#banner .presenter .presenter-right {
    width: 65%;
    float: right;
}

.wrap {
    float: right;
    margin: 10px;
}

.workshop-cont {
    margin-top: 2%;
}

.resource {
    width: 30%;
}

.resource a {
    color: #222222;
    text-decoration: underline;
}

.resource a:hover {
    color: #9c0000;
}

.descript {
    width: 70%;
}

th, td {
    padding: 15px;
}


.table-head {
    background-color: #9c0000;
    color: white;
}

.odd {
    background-color: #D49191;
}

.even {
    background-color: #B84848;
}

/***** BLACK FOOTER *****/

.black {
    background-color: #222222;
    color: white;
    margin-top: 7.5%;
}

ul.social-buttons li a {
    background-color: white;
    color: #222222;
}



/*
.two-col {
    width: 100%;
    overflow: hidden;
}

.two-col .left-col {
    width: 35%;
    float: left;
    padding: 0px 0px 10px 0px;
}

.two-col .right-col {
    width: 65%;
    float: right;
}*.